body{
  margin: 0;
  position: relative;
}
.text-color{
  font-family: serif;
  color: #4D4C7D;
}
.position{
  position: fixed;
  z-index: 3;
  width: 2000px;
  padding-left: 15px;
}
.upper{
  padding-top: 100px;
  background-color: #E9D5DA;
  height: 700px;
  text-align: center;
}
.write-up{
  margin-top: 100px;
}
.design{
padding-top: 50px;
position:relative;
top: 300px;
z-index: 1;
border-radius: 100%;
}
.lower{
  background-color: #4D4C7D;
  height: 700px;
  padding-top: 350px;
  padding-right: 3rem;
}
.text{
font-family: sans-serif;
font-size: 17px;
position: relative;
bottom: 220px;
margin-right: 130px;
margin-left: 130px;
}
.happy_people1{
  width: 250px;
  margin-left: 200px;
  float: left;
  transition: width 1s ease;
}
.happy_people1:hover{
  width:300px;
}
.image_text{
  color: #FFF;
  position: relative;
  left: 30px;
  margin-top: 30px;
}
.happy_people2{
  width: 300px;
  float: right;
  margin-right: 200px;
  transition: width 1s ease;
}
.happy_people2:hover{
  width: 350px;
}
.image_text2{
  color: #4D4C7D;
  text-align: right;
position: relative;
right: 30px;

}
.lower2{
  position: relative;
  height: 500px;
  padding-top: 200px;
  padding-left: 3rem;
}
hr{
  margin: 0 100px;
}
#testimonials{
  padding: 200px;
  text-align: center;
  color:#4D4C7D;
  font-family: serif;
}
.testimonials_text{
  margin-top: 3.5rem;
}
.carousel_text{
  margin-top: 50px;
}
.icons{
  text-align: center;
  color:#4D4C7D;
  padding:4rem 0;
}
.icons2{
  font-size: 2rem;
  margin: 2rem;
  color: #E9D5DA;
  transition: font-size 500ms ease;
}
.icons2:hover{
  color:#4D4C7D;
  font-size: 3rem;
}
.icons_container{
  margin-top: 8rem;
}
.copyright_container{
  margin-top: 3rem;
}
